section {
    margin-bottom: 52px;
    font-family: 'Narezka';
    font-weight: 400;

    &:not(:last-child) {
        margin-top: 62px;
    }

    .section-title {
        color: #4832AA;
        margin-bottom: 24px;
        font-size: 48px;
    }

    .container {
        padding: 30px 72px 48px 72px;
        background-color: #E2DEF1;
        border-radius: 20px;
    }
}

.questions-list {
    display: grid;
    grid-template-columns: repeat(2, 510px);
    gap: 28px;
}

.questions-item__link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 100px;
    font-size: 30px;
    border-radius: 10px;
}

.questions-list--single-row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}