/* Баннер */

.event__banner {
    position: relative;
    padding: 45px 360px;
    height: 705px;
    display: flex;
    align-items: end;
}

.event__banner__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.event__banner__info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: fit-content;
    z-index: 1;
    color: #FFF;
}

.event__banner__type,
.event__banner__place {
    font-family: 'Onest';
    font-weight: 500;
    font-size: 30px;
}

.event__banner__name {
    font-family: 'Narezka';
    font-weight: 400;
    font-size: 96px;
}

/* Дата и место ивента */

.event__placement__date {
    margin: 0 auto;
    width: fit-content;
    font-family: 'Narezka';
    font-weight: 400;
    font-size: 60px;
    line-height: 150%;
}

.event__placement__hall {
    padding: 27px 0 34px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: rgba(132, 117, 198, 0.31);
    border: 2px solid #9C90D1;
}

/* сетка для выбора мест */

.placement__form {
    display: flex;
    flex-direction: column;
    width: 1194px;
}

.placement__form__price,
.placement__form__hall,
.placement__form__info,
.placement__form__submit {
    width: 100%;
}

.placement__form__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 22px;
}

.placement__form__price__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 9px 36px 9px 10px;
    width: 213px;
    height: 70px;
    background-color: #FFF;
    border-radius: 10px;
}

.price {
    font-family: 'Onest';
    font-weight: 500;
    font-size: 30px;
}

.price-color {
    width: 52px;
    height: 52px;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.price-color--green {
    background-color: #8BCF00;
}

.price-color--yellow {
    background-color: #F5ED44;
}

.price-color--violet {
    background-color: #7584EF;
}

.price-color--pink {
    background-color: #FF7FD9;
}

.price-color--red {
    background-color: #FF6456;
}

.placement__form__hall {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 29px;
    padding: 48px;
    height: 1313px;
    background-color: #FFF;
    border-radius: 10px;
}

.placement__vip-balcony {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
}

.placement__name {
    margin-bottom: 17px;
    font-family: 'Onest';
    font-weight: 400;
    font-size: 40px;
}

.placement__blue__main-container {
    display: flex;
    flex-direction: row;
    gap: 68px;
}

.place-item-container {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.placement__blue {
    display: grid;
    grid-template-columns: repeat(9, 52px);
    gap: 18px 6px;
}

.place-item {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 0;
    width: 52px;
    height: 52px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 10px;

    &:hover+.price-color--green {
        background-color: #73AB00;
    }

    &:checked+.price-color--green {
        background-color: #73AB00;
    }

    &:hover+.price-color--yellow {
        background-color: #D1CA3A;
    }

    &:checked+.price-color--yellow {
        background-color: #D1CA3A;
    }

    &:hover+.price-color--violet {
        background-color: #6774CE;
    }

    &:checked+.price-color--violet {
        background-color: #6774CE;
    }

    &:hover+.price-color--pink {
        background-color: #E271C1;
    }

    &:checked+.price-color--pink {
        background-color: #E271C1;
    }

    &:hover+.price-color--red {
        background-color: #D05146;
    }

    &:checked+.price-color--red {
        background-color: #D05146;
    }

}

.placement__group {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 47px;
    margin-bottom: 47px;
}

.placement__vip__main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.placement__vip {
    display: grid;
    grid-template-columns: repeat(2, 52px);
    gap: 18px 6px;
}

.placement__dancefloor {
    margin-bottom: 35px;
    width: 785px;
    height: 407px;
}

.placement__fan {
    width: 785px;
    height: 274px;
}

.placement__fan,
.placement__dancefloor {

    .place-item-container,
    .place-item,
    .price-color {
        width: 100%;
        height: 100%;
    }
}

.placement__big__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


.placement__form__submit {
    height: 87px;
    border-radius: 10px;
    font-family: 'Narezka';
    font-weight: 400;
    font-size: 45px;

    &:disabled {
        cursor: not-allowed;
    }
}

.placement__form__info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 31px;
    height: 102px;
    background-color: #FFF;
    border-radius: 10px;
    font-family: 'Onest';
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    text-align: center;
}

.scene {
    position: relative;
    width: 843px;
    height: 105px;
    background-color: #EFEAFF;
    border-radius: 10px;
}


/* Информация о ивенте */

.event__info__desc {
    font-family: 'Onest';
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
}

.event__info__desc:not(:last-child) {
    margin-bottom: 35px;
}

.event__info__source {
    font-family: 'Onest';
    font-weight: 600;
    font-size: 30px;
    color: #7C7697;
    transition: color 0.2s;

    &:hover {
        color: #696579;
    }
}

/* Карта */

.event__location__map-container {
    height: 483px;

    &>iframe {
        border-radius: 10px;
    }
}

.event__location__info {
    font-family: 'Onest';
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
}

/* отзывы */

.event__review__general-info {
    display: flex;
    flex-direction: row;
    gap: 41px;
    margin-bottom: 40px;
}

.event__review__rating {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: 'Narezka';
    font-weight: 600;
    font-size: 40px;
}

.event__review__add-review {
    position: relative;
    font-family: 'Narezka';
    font-weight: 600;
    font-size: 40px;
    color: #4832AA;
    transition: color 0.2s;
}

.event__review__add-review::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #4832AA;
    transition: background-color 0.2s;
}

.event__review__add-review:hover {
    color: #493B85;
}

.event__review__add-review:hover::after {
    background-color: #493B85;
}

.event__review__reviews-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.event__review__item {
    padding: 25px 72px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: fit-content;
    background-color: rgba(72, 50, 170, 0.17);
    border-radius: 15px;
}

.event__review__item__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event__review__username {
    font-family: 'Onest';
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
}

.event__review__stars {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.event__review__item__text {
    font-family: 'Onest';
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
}

.event__review__item__link {
    align-self: flex-end;
    font-family: 'Onest';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}