@font-face {
    font-family: 'Narezka';
    src: url("../fonts/Narezka.woff") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-SemiBold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: 'Onest';
    src: url("../fonts/Onest-Bold.woff") format("woff");
    font-weight: 700;
}